<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Project Cheers</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com ">

        <link rel="preconnect" href="https://fonts.gstatic.com " crossorigin>

        <link href=" https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap " rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/vegas.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-barista.css' %}" rel="stylesheet">
    <body>
        <main>
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="index.html">
                            <img src="{% static 'images/coffee-beans.png' %}" class="navbar-brand-image img-fluid" alt="">
                            BaroQue Drinks Menu
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link " href="pdash">Home</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
                <section class="barista-section section-padding section-bg" id="barista-team">
                    <div class="container"><br><br>
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">

                                <h3 class="text-white">Whiskey</h3>
                            </div>
                            {% for i in r %}
                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
<!--                                            <h4 class="text-white mb-0">Johnnie Walker</h4>-->
                                            <h4 class="text-white mb-0">{{i.brandname}}</h4>

<!--                                            <p class="badge ms-4"><em>BLUE LABEL</em></p>-->
                                            <p class="badge ms-4"><em>{{i.variant}}</em></p>
                                        </div>

<!--                                        <p class="text-white mb-0">Rarest blended scotch Whiskey.Costs upto 10k to 35k.</p>-->
                                         <p class="text-white mb-0">{{i.detail}}</p>
                                    </div>

                                    <div class="team-block-image-wrap">
<!--                                        <img src="{% static 'images/team/blue.jpg' %}" class="team-block-image img-fluid" alt="">-->
                                            <img src ="{{i.image.url}}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

<!--                            <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Johnnie Walker</h4>-->

<!--                                            <p class="badge ms-4"><em>DOUBLE BLACK</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">A rich intense smoky blend containing whiskey. Costs upto 3k to 7k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/2012532.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Johnnie Walker</h4>-->

<!--                                            <p class="badge ms-4"><em>RED LABEL</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">Bold and Vibrant with Exeptional Flavour. Costs upto 3k to 5k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/red label.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Johnnie Walker</h4>-->

<!--                                            <p class="badge ms-4"><em>GREEN LABEL</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">The Art of pure Malt.Costs upto 3k to 5k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/johnnie-walker-labels-green.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Johnnie Walker</h4>-->

<!--                                            <p class="badge ms-4"><em>BLACK LABEL</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">12 Years Aged Blended Scotch Whiskey. Costs upto 2k to 4k </p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/bla.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Johnnie Walker</h4>-->

<!--                                            <p class="badge ms-4"><em>PLATINUM LABEL</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">18 Years Aged private blend scotch whiskey. Costs upto 7k to 12k</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/platinum.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Jack Daniel's</h4>-->

<!--                                            <p class="badge ms-4"><em>FIRE</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">Finely crafted Cinnamon liquor.Costs upto 8k to 12k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/fire222.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h5 class="text-white mb-0">Jack Daniel's</h5>-->

<!--                                            <p class="badge ms-4"><em>American</em></p>-->
<!--                                        </div>-->
<!--                                        <p class="text-white mb-0">Twice Barreled Single Malt Speacial Realese.Costs up to 10k to 14k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/amjd1.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h5 class="text-white mb-0">Jack Daniel's</h5>-->

<!--                                            <p class="badge ms-4"><em>RYE</em></p>-->
<!--                                        </div>-->
<!--                                        <p class="text-white mb-0">Straight Rye Whiskey.Costs upto 6k to 9k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/WHI12652.png' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h5 class="text-white mb-0">Jack Daniel's</h5>-->

<!--                                            <p class="badge ms-4"><em>HONEY</em></p>-->
<!--                                        </div>-->
<!--                                        <p class="text-white mb-0">Finely crafted Honey Liquor.Costs upto 7k to 8k</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/honey111.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h5 class="text-white mb-0">Jack Daniel's</h5>-->

<!--                                            <p class="badge ms-4"><em>APPLE</em></p>-->
<!--                                        </div>-->
<!--                                        <p class="text-white mb-0">Finely crafted Apple Liquor.Costs upto 5k to 6k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/apple1.jpeg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12 mb-4">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h5 class="text-white mb-0">Jack Daniel's</h5>-->

<!--                                            <p class="badge ms-4"><em>NO.7</em></p>-->
<!--                                        </div>-->
<!--                                        <p class="text-white mb-0">Jennessee Sour Mash Whiskey.Costs upto 4k to 5k .</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/jack-daniels.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->


                        </div>
                    </div>
                </section>

                 <section class="barista-section section-padding section-bg" id="barista-team">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">

                                <h3 class="text-white">Rum</h3>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Steve</h4>

                                            <p class="badge ms-4"><em>Boss</em></p>
                                        </div>

                                        <p class="text-white mb-0">A rich</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/team/facundo xa pariso.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Sandra</h4>

                                            <p class="badge ms-4"><em>Manager</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite coffee daily lives.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/team/piratescrog.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Jackson</h4>

                                            <p class="badge ms-4"><em>Senior</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite coffee daily lives.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/team/chamarel.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Michelle</h4>

                                            <p class="badge ms-4"><em>Barista</em></p>
                                        </div>

                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/team/martinique.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/zacapa.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/Appletonestate.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/blacktot.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/bumbu.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/demerara.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                             <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/millenium.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                                 <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/mountgay.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/plantation.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/bblack.png' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/bwhite.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/mahina.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Michelle</h4>-->

<!--                                            <p class="badge ms-4"><em>Barista</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">your favourite coffee daily consectetur.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/team/CRUZAN.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                        </div>
                    </div>
                </section>

                 <section class="barista-section section-padding section-bg" id="barista-team">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">

                                <h3 class="text-white">Vodka</h3>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Absolut</h4>

                                            <p class="badge ms-4"><em>BLING BLING</em></p>
                                        </div>

                                        <p class="text-white mb-0">This precious vodka was distilled from grain.Costs upto 20k to 30k</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/vodka8.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">IS </h4>

                                            <p class="badge ms-4"><em>Silver Edition</em></p>
                                        </div>

                                        <p class="text-white mb-0">Crafted in luxurious grains.Costs upto 30k to 40k</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/vodka22.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12 mb-4">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Thumb Butte</h4>

                                            <p class="badge ms-4"><em>American</em></p>
                                        </div>

                                        <p class="text-white mb-0">American distilled single batch.Costs upto 3k to 5k.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/vodka23.jpg' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Meister</h4>

                                            <p class="badge ms-4"><em>IWSC GOLD</em></p>
                                        </div>

                                        <p class="text-white mb-0">Weltbester Vodka.Costs upto 2k to 4k.</p>
                                    </div>

                                    <div class="team-block-image-wrap">
                                        <img src="{% static 'images/vodka3.png' %}" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Absolut</h4>-->

<!--                                            <p class="badge ms-4"><em>CENTURY OF SWEDEN</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">Superb vodka distilled from grain grown on southern sweden.Costs upto 2.5k to 5k.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/absolute.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Luksusova</h4>-->

<!--                                            <p class="badge ms-4"><em>ITALIAN</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">Italian made premium whisky.</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/vodka77.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Absolut</h4>-->

<!--                                            <p class="badge ms-4"><em>PEARS</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">Fruity and delicate flavour blended with vodka from grains.Costs upto 2.5k to 4.8k </p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/vodka6.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3 col-md-6 col-12">-->
<!--                                <div class="team-block-wrap">-->
<!--                                    <div class="team-block-info d-flex flex-column">-->
<!--                                        <div class="d-flex mt-auto mb-3">-->
<!--                                            <h4 class="text-white mb-0">Belvedere</h4>-->

<!--                                            <p class="badge ms-4"><em>POLAND VODKA</em></p>-->
<!--                                        </div>-->

<!--                                        <p class="text-white mb-0">Richa premium electrifying vodka made in poland.Costs upto 12k to 16k</p>-->
<!--                                    </div>-->

<!--                                    <div class="team-block-image-wrap">-->
<!--                                        <img src="{% static 'images/vodka5.jpg' %}" class="team-block-image img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                        </div>
                    </div>
                </section>
        </main>
            <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/vegas.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>